* {
    padding: 0;
    margin: 0;
}

:root {
    --maingray: rgb(57, 65, 102);
    --darkgray: #20213c;
    --maingreen: rgb(0, 167, 173);
    --yellowline: rgb(225, 196, 148);
    --maroonline: rgb(181, 104, 136);
    --darkred: rgb(209, 47, 73);
    --palered: rgb(232, 74, 99);
}

body {
    background-color: var(--darkgray);
}

main {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
    grid-gap: 3rem;
}


/* Header */

header {
    background-color: var(--maingray);
    display: flex;
    position: fixed;
    width: 100%;
    font-size: 16px;
    border-radius: 0 0 5px 5px;
}

.header-list {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.header-1 {
    display: flex;
    height: 50px;
    align-items: center;
    margin: 0 20px;
}

.header-1 li {
    display: flex;
    list-style: none;
    margin-right: 40px;
}

li img {
    height: 16px;
    margin-right: 5px;
}

header a {
    text-decoration: none;
    color: white;
}

#profile {
    width: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 20px;
}

#dropdown {
    width: 10px;
    justify-self: center;
    margin-left: 3px;
}

.profile {
    display: flex;
    align-items: center;
}


/* Section */

.section-1 {
    padding-top: 75px;
}

.menu-box {
    display: flex;
    flex-direction: column;
    background-color: var(--maingray);
    margin: 0 20px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 5px;
}

.menu-box a {
    color: white;
    text-decoration: none;
}

.menu-box h1 {
    text-align: center;
    background-color: var(--maingreen);
    font-size: 25px;
    border-radius: 5px 5px 0 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.menu-box ul li {
    list-style: none;
    border-radius: 0 0 9px 9px;
    margin-left: 20px;
}

.menu-box span {
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-color: var(--darkgray);
}

.menu-box p {
    color: white;
    margin-right: 20px;
    font-size: 15px;
}

.last {
    border-style: none;
}


/* Section 2 */

.section-2 {
    display: flex;
    flex-direction: column;
    background-color: var(--maingray);
    border-radius: 5px;
    margin: 0 20px;
    padding: 15px;
}

.section-2 h1 {
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--darkgray);
    border: 30px solid var(--maingreen);
}

#month {
    color: white;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 50px;
    font-size: 50px;
}

#year {
    color: var(--maingray);
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}


/* Section 3 */

#profile-pic {
    width: 65vw;
    max-width: 300px;
    min-width: 200px;
    border-radius: 50%;
}

.user-profile {
    display: flex;
    flex-direction: column;
    background-color: var(--maingray);
    margin: 0 20px;
    border-radius: 5px;
    align-items: center;
}

.user-profile p {
    color: #ffffff;
    line-height: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
    text-align: center;
}

.user-profile li p {
    font-size: 12px;
}

.user-profile p a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 900;
    line-height: 50px;
    word-spacing: 10px;
    letter-spacing: 2px;
}

.add {
    display: flex;
    align-self: flex-end;
    margin: 20px 20px 0 0;
    background-color: var(--darkgray);
    border-radius: 100%;
}

.add img {
    width: 30px;
}

.details {
    width: 100%;
}

.details ul {
    display: flex;
}

.details li {
    list-style: none;
    margin: 10px 30px;
    display: flex;
    font-size: 19px;
    align-items: center;
}

.details ul {
    border-style: solid none none none;
    width: 100%;
    justify-content: center;
}