* {
    padding: 0;
    margin: 0;
}

:root {
    --maingray: rgb(57, 65, 102);
    --darkgray: #20213c;
    --fadedgray: rgb(80, 88, 126);
    --maingreen: rgb(0, 167, 173);
    --yellowline: rgb(225, 196, 148);
    --maroonline: rgb(181, 104, 136);
    --darkred: rgb(209, 47, 73);
    --palered: rgb(232, 74, 99);
}

body {
    background-color: var(--darkgray);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    padding: 5rem 0;
    margin: 0 20px
}


/* Header */

header {
    background-color: var(--maingray);
    display: flex;
    position: fixed;
    width: 100%;
    font-size: 16px;
    border-radius: 0 0 5px 5px;
}

.header-list {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.header-1 {
    display: flex;
    height: 50px;
    align-items: center;
    margin: 0 20px;
}

.header-1 li {
    display: flex;
    list-style: none;
    margin-right: 40px;
}

li img {
    height: 16px;
    margin-right: 5px;
}

header a {
    text-decoration: none;
    color: white;
}

#profile {
    width: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 20px;
}

#dropdown {
    width: 10px;
    justify-self: center;
    margin-left: 3px;
}

.profile {
    display: flex;
    align-items: center;
}


/* Section */

.section-1 {
    display: block;
    width: 100%;
    height: fit-content;
}

.menu-box {
    display: flex;
    flex-direction: column;
    background-color: var(--maingray);
    line-height: 50px;
    font-size: 20px;
    border-radius: 5px;
}

.menu-box a {
    color: white;
    text-decoration: none;
}

.menu-box h1 {
    text-align: center;
    background-color: var(--maingreen);
    font-size: 25px;
    border-radius: 5px 5px 0 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.menu-box ul li {
    list-style: none;
    border-radius: 0 0 9px 9px;
    margin-left: 20px;
}

.menu-box span {
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-color: var(--darkgray);
}

.menu-box p {
    color: white;
    margin-right: 20px;
    font-size: 15px;
}

.last {
    border-style: none;
}


/* Section 2 */

.section-2 {
    display: flex;
    flex-direction: column;
    background-color: var(--maingray);
    border-radius: 5px;
    padding: 15px;
}

.section-2 h1 {
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--darkgray);
    border: 30px solid var(--maingreen);
}

#month {
    color: white;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 50px;
    font-size: 50px;
}

#year {
    color: var(--maingray);
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}


/* Section 3 */

#profile-pic {
    width: 65vw;
    max-width: 300px;
    min-width: 200px;
    border-radius: 50%;
}

.user-profile {
    display: flex;
    flex-direction: column;
    background-color: var(--maingray);
    border-radius: 5px;
    align-items: center;
}

.user-profile p {
    color: #ffffff;
    line-height: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
    text-align: center;
}

.user-profile li p {
    font-size: 12px;
}

.user-profile p a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 900;
    line-height: 50px;
    word-spacing: 10px;
    letter-spacing: 2px;
}

.add {
    display: flex;
    align-self: flex-end;
    margin: 20px 20px 0 0;
}

.add img {
    width: 30px;
}

.details {
    width: 100%;
}

.details li {
    list-style: none;
    padding: 10px 40px;
    display: flex;
    font-size: 19px;
    align-items: center;
}

.details ul {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-evenly;
}

#seen,
#like {
    border-left: 1px solid var(--darkgray);
}

#seen {
    border-top: 2px solid var(--maingreen);
}

#comments {
    border-top: 2px solid var(--yellowline);
}

#like {
    border-top: 2px solid var(--maroonline);
}

.details img {
    margin-left: 10px;
}


/* Weather section */

.weather {
    display: flex;
    flex-direction: column;
    height: 15rem;
    align-items: center;
}

.location {
    background-color: var(--darkred);
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px 0;
    border-radius: 5px 5px 0 0;
    color: white;
    height: 3rem;
    align-items: center;
    font-size: 30px;
    padding: 30px 0 10px;
}

.location img {
    margin: 0 7px;
    width: 20px;
}

.temp {
    background-color: var(--palered);
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
}

.temp p {
    display: flex;
    padding: 20px;
}

.day {
    font-size: 20px;
    font-weight: 900;
    margin: 2rem 0 0 3rem;
}

.degree {
    font-size: 5rem;
    margin-left: 4rem;
    align-items: center;
}

.degree span {
    margin: 1rem;
}

.degree img {
    width: 10rem;
}


/* Subscribe to the newsletter */

.newsletter {
    display: flex;
    flex-direction: column;
    background-color: var(--maingray);
    color: white;
    border-radius: 5px;
}

.mail {
    line-height: 25px;
    display: flex;
    flex-direction: column;
}

.mail p {
    text-align: center;
    margin: 15px;
    font-size: 20px;
}

.mail input {
    margin: 0 2rem 0 0;
    height: 20px;
    background-color: var(--fadedgray);
    border: 20px solid var(--fadedgray);
    border-radius: 5px;
    color: white;
    font-weight: 500;
    flex: 1;
}

.mail-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--fadedgray);
    margin: 20px;
    border-radius: 10px;
}

#mail-newsletter {
    margin-left: 20px;
}

.mail-section input:focus-visible {
    outline: none;
}

.mail-section ::placeholder {
    color: white;
    font-size: small;
    font-style: italic;
}

.subscribe {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 8rem;
    background-color: var(--maingreen);
    height: 45px;
    border-radius: 5px;
}

.subscribe button {
    background-color: var(--maingreen);
    border-style: none;
    cursor: pointer;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


/* SignIn */

.signin {
    display: flex;
    flex-direction: column;
    background-color: var(--maingray);
    border-radius: 5px;
    color: white;
}

.signin p {
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin: 20px;
}

.signin input {
    background-color: var(--fadedgray);
    border-style: none;
    color: white;
    display: flex;
    flex: 1;
}

.signin input:focus-visible {
    outline: none;
}

.signin ::placeholder {
    font-style: italic;
    color: rgb(255, 255, 255);
    font-size: 13px;
}

.input-details {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}

.login,
.password {
    display: flex;
    background-color: var(--fadedgray);
    margin: 20px 20px 0 20px;
    border: 20px solid var(--fadedgray);
    border-radius: 10px;
}

.login img,
.password img {
    margin-right: 10px;
    height: 25px;
}